{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="custom-container">
            <form method="post" class="mt-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
				<img src="img/logo.png" class="center" alt="logoGif" height="200px">
                <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required>
                <label for="inputPassword" class="form-label">Contraseña</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}


